{% extends "blog/base.html" %}

{% block title %}Authors{% endblock %}

{% block content %}
  <h2>Authors <span class="badge">{{ authors|length }}</span></h2>

  {% if authors %}
    <ul class="card-list">
      {% for author in authors %}
        <li>
          <a class="card" href="{% url 'blog:author-detail' author.pk %}">
            <span class="card-title">{{ author.name }}</span>
            <span class="card-meta">
              {{ author.blogs.count }} post{{ author.blogs.count|pluralize }}
            </span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="empty">
      No authors yet. Add one in <a href="/admin/">the admin</a>.
    </p>
  {% endif %}
{% endblock %}
