{% extends "blog/base.html" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
  <article>
    <h2>{{ blog.title }}</h2>

    <p class="article-meta">
      by <a href="{% url 'blog:author-detail' blog.author.pk %}">{{ blog.author.name }}</a>
      &middot;
      {% if blog.published %}
        <span class="badge badge-published">Published</span>
      {% else %}
        <span class="badge badge-draft">Draft</span>
      {% endif %}
    </p>

    <div class="article-body">{{ blog.content|linebreaks }}</div>

    <table class="meta-table">
      <tr><th>Created</th><td>{{ blog.created_at|date:"j M Y, H:i" }}</td></tr>
      <tr><th>Last updated</th><td>{{ blog.updated_at|date:"j M Y, H:i" }}</td></tr>
    </table>
  </article>

  <div class="form-actions">
    <a class="btn" href="{% url 'blog:post-update' blog.pk %}">Edit this post</a>
    <a class="btn btn-danger" href="{% url 'blog:post-delete' blog.pk %}">Delete</a>
    <a class="btn btn-quiet" href="{% url 'blog:post-list' %}">Back to all posts</a>
  </div>
{% endblock %}
